<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <title> PC Studio </title> 
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        } 

		.topbar {
            position: fixed;
            top: 0;
            left: 80px;
            width: 100%;
            height: 60px;
            background-color: #eee;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            z-index: 10;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

		.topbar .toptitle {
			font-size: 30px;
			font-weight: bold;
			color: #000; 
			opacity: 1;
		}

		.topbar.active .toptitle {
			opacity: 0;
		}


		.logo-text {
			font-size: 18px;
			font-weight: bold;
			color: #000; 
		}
		
		.userImage {
			width: 40px; 
			height: 40px; 
			border-radius: 100%; 
			border: 1px solid #eee; 
			object-fit: cover;
			margin-right: 80px; 
		}

        .sidebar {
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 80px;
			background-color: #12171e;
			padding: 0.4rem 0.8rem;
			transition: all 0.5s ease;
			z-index: 20;
		}	

		.sidebar.active ~ .main-content {
			left: 250px;
			width: calc(100% - 250px); 
		}
		
		.sidebar.active ~ .topbar {
			left: 250px;
			width: calc(100% - 250px); 
		}
		

		.sidebar.active {
			width: 250px;
		}

		.sidebar #btn {
			position: absolute;
			color: #fff;
			top: .4rem;
			left: 50%;
			font-size: 1.2rem;
			line-height: 50px;
			transform: translateX(-50%);
			cursor: pointer;
		}

		.sidebar.active #btn {
			left: 90%;
		}
		
		.sidebar .top .logo {
			color: #fff;
			display: flex;
			height: 50px;
			width : 100%;
			justify-content: left;
			align-items: center;
			pointer-events: none;
			opacity: 0 
		}

		.sidebar.active .top .logo {
			opacity: 1;
			margin-left: 20px;
		}

		.top .logo i {
			font-size: 2rem;
			margin-right: 5px; 
		}

		.sidebar ul li {
			position: relative;
			list-style-type: none;
			height: 50px;
			width: 90%;
			margin: 0.8rem auto;
			line-height: 50px;
		}

		.sidebar ul li a { 
			color: #fff;
			display: flex;
			align-items: center; 
			text-decoration: none; 
			border-radius: 0.8rem;
		}

		.sidebar ul li a:hover {
			background-color: #fff;
			color: #12171e;
		}

		.sidebar ul li a i { 
			min-width: 50px;
			text-align: center;
			height: 50px; 
			border-radius: 12px;
			line-height: 50px;
		}

		.sidebar .nav-item {
			opacity: 0;
		}

		.sidebar.active .nav-item {
			opacity: 1;
		}

		.sidebar ul li .tooltip {
			position: absolute;
			left: 125px;
			top: 50%;
			transform: translate(-50%, -50%);
			box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
			border-radius: •6rem; 
			padding: .4rem 1.2rem; 
			line-height: 1.8rem; 
			z-index: 20; 
			opacity: 0;
		}

		.sidebar ul li:hover .tooltip {
			opacity: 1;
		}
		
		.sidebar.active ul li:hover .tooltip {
			display: none;
		}
		
		.main-content {
			position: relative; 
			background-color: #fff;
			min-height: 100vh;
			top: 60px;
			Left: 80px; 
			transition: all 0.5s ease;
			width: calc(100% - 80px);
			padding: 1rem;
		}

        
    </style>

</head>
<body>
	<div class="topbar">
		<div class = "title">
            <span class="toptitle">PC Studio</span>
        </div>
        <div class="user">
            <img id="userImage" alt="User Profile Picture" class="userImage">
            <script>
                const userImage = sessionStorage.getItem('user_image') || '../png/default.jpg';
                const imageElement = document.getElementById('userImage');
                imageElement.src = userImage; 
            </script>
        </div>
    </div>

    <div class = "sidebar">
        <div class = "top">
            <div class = "logo">
                <i class='bx bx-laptop'></i>
                <span>PCStudio</span>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>

		<ul>
            <li>
                <a href="/customize">
                    <i class='bx bxs-component'></i>
                    <span class="nav-item">Customize</span>
                </a>
                <span class="tooltip">Customize</span>
            </li>
        </ul>
        
        <ul>
            <li>
                <a href="/CPU">
                    <i class='bx bxs-component'></i>
                    <span class="nav-item">CPU</span>
                </a>
                <span class="tooltip">CPU</span>
            </li>
        </ul>

        <ul>
            <li>
                <a href="/CPU_Cooler">
                    <i class='bx bxs-component'></i>
                    <span class="nav-item">CPU_Cooler</span>
                </a>
                <span class="tooltip">CPU_Cooler</span>
            </li>
        </ul>

        <ul>
            <li>
                <a href="MotherBoard">
                    <i class='bx bxs-component'></i>
                    <span class="nav-item">MotherBoard</span>
                </a>
                <span class="tooltip">MotherBoard</span>
            </li>
        </ul>
    
        <ul>
            <li>
                <a href="Storage">
                    <i class='bx bxs-component'></i>
                    <span class="nav-item">Storage</span>
                </a>
                <span class="tooltip">Storage</span>
            </li>
        </ul>

        <ul>
            <li>
                <a href="GPU">
                    <i class='bx bxs-component'></i>
                    <span class="nav-item">GPU</span>
                </a>
                <span class="tooltip">GPU</span>
            </li>
        </ul>

        <ul>
            <li>
                <a href="RAM">
                    <i class='bx bxs-component'></i>
                    <span class="nav-item">RAM</span>
                </a>
                <span class="tooltip">RAM</span>
            </li>
        </ul>

        <ul>
            <li>
                <a href="PowerSupply">
                    <i class='bx bxs-component'></i>
                    <span class="nav-item">PowerSupply</span>
                </a>
                <span class="tooltip">PowerSupply</span>
            </li>
        </ul>

    </div>

	<div class="main-content">
		<% if (page === "home") { %>
            <h1>Welcome to PC Studio</h1>
        <% } else if (page === "customize") { %>
			<%- include('customize'); %>
			
		<% } else if (page === "CPU") { %>
			<%- include('CPU'); %>
		<% } else if (page === "CPU_Cooler") { %>
			<%- include('CPU_Cooler'); %>
		<% } else if (page === "Motherboard") { %>
			<%- include('Motherboard'); %>
		<% } else if (page === "GPU") { %>
			<%- include('GPU'); %>
		<% } else if (page === "Storage") { %>
			<%- include('Storage'); %>
		<% } else if (page === "RAM") { %>
			<%- include('RAM'); %>
		<% } else if (page === "PowerSupply") { %>
			<%- include('PowerSupply'); %>
        <% } else { %>
            <h1>404 - Page Not Found</h1>
        <% } %>
		<!-- <div class="container">
			<h1>PC Studio</h1>
		</div> -->
	</div>
	
	

	


</body>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');
	let topbar = document.querySelector('.topbar');

    btn.onclick = function(){
        sidebar.classList.toggle('active');
		topbar.classList.toggle('active');
    };
</script>

</html>
